$text-color: rgb(68, 68, 68) !default;
$text-font-stack: Arial, "Helvetica Neue", Helvetica, sans-serif;

$theme-dark: black;
$theme-dark-text: white;

$ibiza-green: #5DB300;
$ibiza-red: #E81123;
$ibiza-blue: #015CDA;
$ibiza-blue-hover: #E0ECFD;
$ibiza-gray-hover: rgb(72,72,72);
$ibiza-white-hover: rgba(255,255,255,0);
$ibiza-border-color: rgba(204,204,204,.8);
$ibiza-light-text-color: #7F7F7F;
$ibiza-light-close-icon-color: #2E2E2E;
