@import './themes';

.iot-panel {
    .ms-Panel-commands {
        float: right;
        width: 100px;

        .ms-Panel-closeButton {
            @include themify($themes) {
                color: themed('closeIconColor');
            }
        }
    };

    .ms-Panel-header {
        margin-top: 0;
        margin-bottom: 0;

        .ms-Panel-headerText {
            font-size: 17.25px;
            font-weight: 600;
        }
    }
}